@use "@material/drawer";
@use "@material/list";
@import "/src/styles/App.scss";

@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.core-styles;

.SideNav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.logo {
    height: 9em;
    width: 14em;
}

.mdc-drawer {
    @include drawer.item-activated-icon-ink-color($blue);
    @include drawer.item-activated-text-ink-color($blue);
    .mdc-list-item--activated, .mdc-list-item--activated:hover {
        background-color: rgba($color: $blue, $alpha: .3) !important;
    }
    .mdc-list-item:hover {
        background-color: $lightgrey;
    }
}
.login {
    position: fixed;
    bottom: 2em;
    width: inherit;
}